@import "../bootstrap/scss/variables";
@import "variables";
@import "mixins";

.page-footer {
  background-color: $gray-background;
  padding: 25px 0 50px;
}

.page-footer__list {
  @include resetDefaultStylesList;
  padding-left: 20px;
  list-style: none;

  a {
    transition: color .15s ease-out;
    &:hover {
      color: red !important;
    }
  }

  @media (max-width: map_get($grid-breakpoints,'md')) {
        text-align: center;
  }
}

.page-footer__item {
  color: #8792a8;
  margin-bottom: 10px;
}

.page-footer__heading {
  text-transform: uppercase;
  color: #0e0e0e;
  font-size: 13px;
  margin-bottom: 10px;
}