@import "../bootstrap/scss/variables";
@import "variables";
@import "mixins";

.page-nav {
  border-bottom: 1px solid $font-color-gray;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  color: $font-color-gray;
  z-index: 2;

  @media(max-width: map_get($grid-breakpoints,'xs')) {
    position: relative;
  }

  }


.logo {
  height: 70px;
  margin-right: 30px;
    img:first-child {
      margin-right: 8px;
      margin-bottom: 3px;
    }
  }


.page-nav__enter-link {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/user__enter.svg") no-repeat center;
  background-size: 20px 15px;
  border: 1px solid gray;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out;
  &:hover {
    border-color: white;
  }
}

.main-nav {
  list-style: none;
  padding: 0 $content-padding;
  margin-bottom: 0;

    &__item {
      margin-right: 30px;
      font-size: 18px;
      line-height: 70px;
      text-align: center;
      transition: color .15s ease-out;
      &--active {
        border-top: 3px solid transparent;
        border-bottom:3px solid $font-color-gray;
      }
      &:hover {
        color: white;
      }
    }

}