//bootsrap variables



//
$background-color-main-navbar: rgb(255,255,255);
$font-color-gray: rgba(255,255,255,0.8);
$content-padding: 20px;
$gray-background: #f3f1ed;

$color-yellow:#ffdb4d;
$max-width-content: 1240px;
$card-size:260px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1240px
);